[submodule "dwm"]
	path = dwm
	url = https://github.com/BeyondMagic/dwm.git
[submodule "slock"]
	path = slock
	url = https://github.com/BeyondMagic/slock.git
[submodule "st"]
	path = st
	url = https://github.com/BeyondMagic/st.git
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/BeyondMagic/dmenu.git
